<footer class="footer">
  <nav class="footer__nav">
    <a class="footer__nav__link"
       href="https://github.com/{{ site.github_username }}"
       target="_blank">
      GitHub
    </a>
    <a class="footer__nav__link"
       href="https://www.linkedin.com/in/{{ site.linkedin_username }}"
       target="_blank">
      LinkedIn
    </a>
    <a class="footer__nav__link"
       href="https://twitter.com/{{ site.twitter_username }}"
       target="_blank">
      Twitter
    </a>
    <a class="footer__nav__link"
       href="https://www.facebook.com/{{ site.facebook_username }}"
       target="_blank">
      Facebook
    </a>
  </nav>

  <a href="/">
    <img class="footer__mascot" src="/images/mascot.png" alt="Фёдор"/>
  </a>

</footer>
