<footer class="footer">
  <nav class="footer__nav">
    <a class="footer__nav__link" href="https://github.com/{{ site.github_username }}">GitHub</a>
    <a class="footer__nav__link" href="https://www.linkedin.com/in/{{ site.linkedin_username }}">LinkedIn</a>
    <a class="footer__nav__link" href="https://twitter.com/{{ site.twitter_username }}">Twitter</a>
    <a class="footer__nav__link" href="https://www.facebook.com/{{ site.facebook_username }}">Facebook</a>
  </nav>

  <a href="/">
    <img class="footer__mascot" src="/images/mascot.png" alt="Фёдор"/>
  </a>

</footer>
