<header class="site-header">

  <nav class="navigation">
    <ul class="navigation__list">
      <li class="navigation__item">
        <a class="navigation__link navigation__link__home" href="{{ site.baseurl }}/" title="{{ site.title }}">
          <img class="navigation__link__house" src="{{ "/images/house.svg" | prepend: site.baseurl }}" />
        </a>
      </li>

      {% for page in site.pages %}
        {% unless page.hidden %}
          {% if page.title %}
            <li class="navigation__item">
              <a class="navigation__link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
            </li>
          {% endif %}
        {% endunless %}
      {% endfor %}
    </ul>
  </nav>

</header>
