@font-face { font-family: SecretaryC; src: url('SecretaryC.otf'); }
@font-face { font-family: SecretaryC; font-weight: bold; src: url('SecretaryC-Bold.otf'); }

body {
  font-family:  SecretaryC, "American Typerwriter", Courier, serif;
  font-size: 16px;
  line-height: 1.7em;
  /*letter-spacing: 1px;*/
  /*background-color: #555;*/
  background-color: #929292;
}

.article {
  width: 700px;
  padding: 100px;
  margin: 0 auto;
  border: 1px solid #eee;
  border-right: 1px solid #333;
  margin-bottom: 150px;
  margin-top: 50px;
  background-color: #fefefe;
  -webkit-box-shadow: 0px 5px 10px #333;
  -moz-box-shadow: 0 0 20px #333;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 16px;
  /*font-weight: normal;*/
}

h1 {
  margin: 3em 0;
  text-align: center;
}

p {
  text-indent: 4em;
  margin: 0em;
  margin-bottom: 1em;
}

hr {
  height: 0px;
  border-bottom: 1px solid black;
  margin-bottom: 1em;
}

ul {
  list-style: none;
  padding: 0;
}

ul li:before {
  content: "* ";
  list-style: none;
}

.clear {
  height: 0;
  clear: both;
  /*width: 100%;*/
}
